.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.about-img-container img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    max-width: 400px; /* Adjust this value as needed */
    width: 80%;
    /* height: auto; */
    /* padding: 20px; */
    border-radius: 10px;
}

.about-text-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding-left: 10%;
    padding-right: 10%;
}
