.container {
    text-align: center;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding-left: 22vh; */
    /* padding-top: 22vh; */
}

.icon-container {
    color: rgb(51, 51, 51);
}

.icon-container {
    background-color: transparent;
    cursor: pointer;
    /* transition: background-color 0.2s ease; */
}

.icon-container.selected {
    background-color: rgb(255, 251, 209); /* Example highlight color */
    border-radius: 100px;
    height: 120px;
}
.icon-row {
    display: flex;
    justify-content: center;

}

.icon-link {
    display: inline-block;
    cursor: pointer;
    align-items: center;
    
}

.icon {
    width: 150px; 
    height: 150px; 
    transition: transform 0.2s;
}

.icon:hover {
    transform: scale(1.1);
}