@import url('https://fonts.googleapis.com/css2?family=Hepta+Slab:wght@400;700&display=swap');

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/Users/gracethanglerdsumpan/Downloads/chanyagracet/src/fonts/HankenGrotesk-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/Users/gracethanglerdsumpan/Downloads/chanyagracet/src/fonts/HankenGrotesk-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/Users/gracethanglerdsumpan/Downloads/chanyagracet/src/fonts/HankenGrotesk-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

/* <img src={`${process.env.PUBLIC_URL}/img/homepage.png`} alt="Illustration of Grace" /> */

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('/Users/gracethanglerdsumpan/Downloads/chanyagracet/src/fonts/HankenGrotesk-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding-top: 5%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-size: 18px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Hepta Slab', serif;
}

.section {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
    /* margin-top: 10px; */
}

#home {
    background-color: #ffffff;
}

.image-container img {
    max-width: 800px; /* Adjust this value as needed */
    width: 80%;
    height: auto;
    margin: 20px 0;
}

.links {
    display: flex;
    gap: 10px;
}

.links a {
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    border: 2px solid #333;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.links a:hover {
    background-color: #333;
    color: #fff;
}


#projects {
    background-color: #ffffff;
}

#about {
    background-color: #ffffff;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 80%;
}

.code-container {
    border: 1px solid #ddd;
    padding: 1%;
    border-radius: 10px;
    /* background-color: #f9f9f9; */
    overflow-x: auto;
    font-size: 0.75em;
    min-height: 10%;
    min-width: 40%;
}

#projects {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    padding: 10px;
    background-color: rgb(19, 19, 19);
    border-radius: 40px 40px 0px 0px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.small-font {
    font-size: 0.8em;
} 

#section-header {
    color: white;
    top: 100px;
}

#white {
    /* padding-top: -20%; */
    color: white
}

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    /* background-color: white; */
    /* height: 100vh; */
}

.image-archive-container img {
    flex: 1;
    max-width: 500px; /* Adjust this value as needed */
    /* width: 80%; */
    height: auto;
    margin: 20px 0;
    padding-top: 20%;
}


.cards-container {
    flex: 1;
    width: 75%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}


.text-container {
    flex: 3;
    /* width: 100%; */
    height: 100%;
    padding-top: 5%;
    background-color: whitesmoke;
    border-radius: 40px 0px 40px 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100vh;
}

.text-container-content {
    width: 100%;
}


.card {
    flex: 0 0 auto;
    width: 200px;
    height: 40px;
    /* background-color: #dad6c9; */
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.5rem;
    cursor: grab;
    transition: background-color 0.3s ease;
}

#archive-heading {
    /* color: rgb(0, 0, 0); */
    color: rgb(201, 24, 24);

}

.project-title {
    font-weight: bold;
    font-size: 1.5em;
    color: rgb(16, 25, 183);

}

.project-tools {
    font-style: italic;
    margin: 5px 0;
    color: rgb(16, 25, 183);
}

.project-description {
    margin: 5px 0;
    color: black;
    /* padding-left: 5%;
    padding-right: 5%; */
}

#output {
    padding-left: 10%;
    padding-right: 10%;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: rgb(201, 24, 24);
}

.click-message {
    padding-left: 15%;
    padding-right: 15%;
    padding-top: 40%;

}

.footer {
    text-align: center;
    padding: 10px 0;
    color: #555;
    font-size: 14px;
    position: fixed;
    bottom: 0;
    width: 100%;
}